<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Referrer-Policy" content="no-referrer">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <meta http-equiv="Upgrade-Insecure-Requests" content="1">
        <meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains">
        <meta http-equiv="Content-Security-Policy" content="
            upgrade-insecure-requests;
            default-src 'none';
            require-trusted-types-for 'script';
            base-uri 'self';
            img-src 'self';
            manifest-src 'self';
            script-src-elem
                'strict-dynamic'
                '{{ KATEX_JS_SHA }}'
                '{{ FONTAWESOME_JS_SHA }}'
                '{{ HIGHLIGHT_JS_SHA }}'
                'sha384-{{ '/hot-reloader.js' | sha() }}'
                'sha384-{{ '/render-maths.js' | sha() }}'
                'sha384-{{ '/render-code.js' | sha() }}'
                ;
            connect-src
                'self'
                https://ka-f.fontawesome.com
                ;
            font-src
                'self'
                https://cdn.jsdelivr.net
                ;
            style-src
                'self'
                https://cdn.jsdelivr.net
                {%- for sha in FONTAWESOME_INLINE_CSS_SHAs %}
                '{{ sha }}'
                {%- endfor %}
                '{{ BULMA_CSS_SHA }}'
                '{{ KATEX_CSS_SHA }}'
                '{{ GRUVBOX_CSS_SHA }}'
                'sha384-{{ '/main.css' | sha() }}'
                ;
        ">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{{ SITEDESCRIPTION }}">
        {% block extra_meta %}{% endblock extra_meta %}

        <title>{{ SITENAME }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="manifest" href="/manifest.json">

        <link rel="stylesheet" type="text/css" href="{{ KATEX_CSS }}" integrity="{{ KATEX_CSS_SHA }}" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ GRUVBOX_CSS }}" integrity="{{ GRUVBOX_CSS_SHA }}" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ BULMA_CSS }}" integrity="{{ BULMA_CSS_SHA }}" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/fontawesome/css/fontawesome.min.css" integrity="sha384-{{ '/fontawesome/css/fontawesome.min.css' | sha() }}">
        <link rel="stylesheet" type="text/css" href="/fontawesome/css/brands.min.css" integrity="sha384-{{ '/fontawesome/css/brands.min.css' | sha() }}">
        <link rel="stylesheet" type="text/css" href="/fontawesome/css/regular.min.css" integrity="sha384-{{ '/fontawesome/css/regular.min.css' | sha() }}">
        <link rel="stylesheet" type="text/css" href="/fontawesome/css/solid.min.css" integrity="sha384-{{ '/fontawesome/css/solid.min.css' | sha() }}">
        <link rel="stylesheet" type="text/css" href="/main.css" integrity="sha384-{{ '/main.css' | sha() }}">
        {% block links_to_extra_css %}{% endblock links_to_extra_css %}

        <script defer src="{{ KATEX_JS }}" integrity="{{ KATEX_JS_SHA }}" crossorigin="anonymous"></script>
        <script defer src="{{ HIGHLIGHT_JS }}" integrity="{{ HIGHLIGHT_JS_SHA }}" crossorigin="anonymous"></script>

        <script defer src="/hot-reloader.js" integrity="sha384-{{ '/hot-reloader.js' | sha() }}"></script>
        <script defer src="/render-maths.js" integrity="sha384-{{ '/render-maths.js' | sha() }}"></script>
        <script defer src="/render-code.js" integrity="sha384-{{ '/render-code.js' | sha() }}"></script>
        {% block script_tags_to_extra_js %}{% endblock script_tags_to_extra_js %}
    </head>
    <body>
        {% include "_header.html" %}
        {% block content %}{% endblock content %}
        {% include "_footer.html" %}
    </body>
</html>
