{% extends "_base.html" %}

{% block content %}
    <section class="section pb-3 pt-3 has-background-primary-bold-invert has-text-primary-bold">
        <nav class="level">
            <div class="level-left">
                {% block breadcrumb %}
                    <div class="level-item">
                        <span class="tag"><a href="/welcome/index.html"><i class="fa-solid fa-home"></i> Home</a></span>
                    </div>
                {% endblock breadcrumb %}
            </div>
            {% if draft %}
                <div class="level-right">
                    <div class="level-item">
                        <div class="dropdown is-right is-hoverable">
                            <div class="dropdown-trigger">
                                <span class="tag">
                                    <a href="/wip.html">
                                        <i class="fa-solid fa-bug"></i>&nbsp;wip
                                    </a>
                                </span>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item has-text-centered has-text-weight-semibold smallcaps">
                                        Work in Progress
                                    </div>
                                    <hr class="dropdown-divider" />
                                    {% for wip_page in WIP_PAGES %}
                                        <a href="{{wip_page.url}}" class="dropdown-item">{{ wip_page.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </nav>
    </section>

    <section class="section pt-0 has-background-primary-bold-invert has-text-primary-bold">
        <div class="box">
            <div class="title is-size-2 has-text-centered ">
                {% block title %}{% endblock title %}
            </div>
            <div class="content {% if draft %}draft-watermark{% endif %}">
                {% block page %}{% endblock page %}
            </div>
        </div>
    </section>
{% endblock content %}
