{% extends "_base.html" %}

{% block content %}
    <nav class="level mt-4 ml-4 mr-4">
        <div class="level-left">
            {% block breadcrumb %}
                <div class="level-item">
                    <span class="tag"><a href="/welcome/index.html"><i class="fa-solid fa-home"></i> Home</a></span>
                </div>
            {% endblock %}
        </div>
        {% if draft %}
            <div class="level-right">
                <div class="level-item">
                    <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                            <span class="tag">
                                <a href="/wip.html">
                                    <i class="fa-solid fa-bug"></i>&nbsp;wip
                                </a>
                            </span>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                            {% for wip_page in WIP_PAGES %}
                                <a href="{{wip_page.url}}" class="dropdown-item">{{ wip_page.name}}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </nav>

    <section class="section pt-0">
        <div class="box has-background-primary-95">
            <div class="block is-size-2 has-text-centered ">
                {% block title %}{% endblock %}
            </div>
            <div class="content {% if draft %}draft-watermark{% endif %}">
                {% block page %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
