/* Set Bulma colour theme */
:root {
    --bulma-link-h: 220deg;
    --bulma-link-s: 100%;
    --bulma-link-l: 50%;
    --bulma-primary-h: 60deg;
    --bulma-primary-s: 85%;
    --bulma-primary-l: 45%;
}

/* Lighten the weight of the font used in headings coming from markdown
   (which will be in a div with the .content class)
*/
.content h1,
.content h2,
.content h3 {
    font-weight: normal;
}

/* Style definition lists coming from markdown
   (which will be in a div with the .content class)
*/
.content dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
}
.content dd {
    margin: 0 0 0 180px;
    padding: 0 0 0.5em 0;
}

/* Use SVG to create a background watermark indicating a page is considered DRAFT */
.draft-watermark {
    background-image: url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='170px' width='210px'>\
            <text transform='translate(0, 40) rotate(30)' fill='rgba(245,5,5,0.05)' font-size='60px'>\
                DRAFT\
            </text>\
        </svg>\
    ");
}

/* Mixin to use small-caps, e.g. for menu headings */
.smallcaps {
    font-variant: small-caps;
}
