{% extends "_base.html" %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box has-background-primary-95">
                <h1 class="title">Work in progress...</h1>
                <ul>
                    {% for wip_page in WIP_PAGES %}
                        <li><a href="{{wip_page.url}}">{{wip_page.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
