{% set draft=true %}

{% extends "_base.html" %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box has-background-primary-95">
                <h1 class="title">Work in progress</h1>
                <ul>
                    <li><a href="/cv/index.html">Professional career</a></li>
                    <li><a href="/about-me/index.html">About me</a></li>
                    <li><a href="/my-tastes/index.html">My Tastes</a></li>
                    <li><a href="/publications/index.html">Publications</a></li>
                    <li><a href="/recreational-maths/index.html">Recreational Maths</a></li>
                    <li><a href="/my-website/index.html">My website</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
