/* Set max size for my photo unless using a screen on a small device. */
#photo-of-me {
    max-width: 200px;
}
@media screen and (width <= 768px) {
    #photo-of-me {
        max-width: unset;
    }
}

/* Space out the social icons a little (e.g. for easier pressing on touch screens) */
.my-socials {
    padding: 5px;
}
