{% if MY_EDUCATION %}
    <section class="cv-section">
        <h2>Education</h2>
        {% for education in MY_EDUCATION %}
        <div class="cv-item">
            <div class="cv-meta">
                <div class="cv-title">{{ education['degree'] }}</div>
                <div class="cv-time">{{ education['time'] }}</div>
            </div>
            {% if education.get('meta') %}
            <div class="cv-company">{{ education['meta'] }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
{% endif %}