{% if MY_EXPERIENCE %}
    <section class="cv-section">
        <h2><i class="fa-solid fa-briefcase"></i> Professional Experience</h2>
        {% for experience in MY_EXPERIENCE %}
        <div class="cv-item">
            <div class="cv-meta">
                <div class="cv-title">{{ experience['job_title'] }}</div>
                <div class="cv-time">{{ experience['time'] }}</div>
            </div>
            <div class="cv-company">{{ experience['company'] }}</div>
            <div class="cv-details">
                {% for section in experience['sections'] %}
                {% if section['title'] %}
                <div class="cv-experience-section">{{ section['title'] }}</div>
                {% endif %}
                <ul>
                    {% for detail in section['details'] %}
                    <li>{{ detail }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>
{% endif %}
