{% extends "../_base.html" %}

{% block content %}
<div class="page-layout">
    <main class="page-main">
        <article>
            <div class="content">
                {% include "_career-profile.html" %}
                {% include "_career-highlights.html" %}
                {% include "_experience.html" %}
                {% include "_education.html" %}
                {% include "_other_interests.html" %}
            </div>
        </article>
    </main>
    <aside class="page-toc" id="toc" aria-label="Table of contents"></aside>
</div>
{% endblock content %}
