<div class="box has-background-primary-bold-invert has-text-primary-bold mb-0">
    <div class="card mb-0">
        <div class="card-image">
            <figure class="image">
                <img id="photo-of-me" src="me.jpg" alt="My profile picture" />
            </figure>
        </div>
    </div>
    <hr class="mt-4 mb-3">
   	<div class="title is-size-4 has-text-centered mb-3">Pursuits</div>
    <div class="container">
       	<ul>
      		{% for interest in MY_INTERESTS %}
       	    <li>
     			<span class="icon-text">
     			    <span class="icon"><i class="fa-solid {{interest.fa_class}}"></i></span>
    				<span>{{ interest.topic }}</span>
     			</span>
      		</li>
      		{% endfor %}
       	</ul>
    </div>
    <hr class="mt-4 mb-3">
    <div class="container has-text-centered has-text-link">
        {% for ms in MY_SOCIALS %}
        <a href="{{ ms.url }}" target="_blank"><i class="fa-brands {{ms.fa_class}}"></i></a>
        {% endfor %}
    </div>
</div>
