<div class="box has-background-primary-bold-invert has-text-primary-bold">
    <div class="card mb-0">
        <div class="card-image">
            <figure class="image">
                <img id="photo-of-me" src="me.jpg" alt="My profile picture" />
            </figure>
        </div>
    </div>
    <hr>
   	<div class="title is-size-4 has-text-centered m-0">Pursuits</div>
    <div class="container mt-4">
       	<ul>
      		{% for interest in MY_INTERESTS %}
       	    <li>
     			<span class="icon-text">
     			    <span class="icon"><i class="fa-solid {{interest.fa_class}}"></i></span>
    				<span>{{ interest.topic }}</span>
     			</span>
      		</li>
      		{% endfor %}
       	</ul>
    </div>
    <hr>
    <div class="container mt-4 mb-0 has-text-centered has-text-link">
        {% for ms in MY_SOCIALS %}
        <a href="{{ ms.url }}" target="_blank"><i class="fa-brands {{ms.fa_class}}"></i></a>
        {% endfor %}
    </div>
</div>
