/* Set Bulma colour theme */
:root {
    --bulma-primary-h: 60deg;
    --bulma-primary-s: 85%;
    --bulma-primary-l: 45%;

    --bulma-link-h: 220deg;
    --bulma-link-s: 100%;
    --bulma-link-l: 50%;

    /* Remove padding and inherit colour for code tags */
    --bulma-code-padding: 0em 0em 0em;
    --bulma-code-background: inherit;

    /* Make horizontal lines darker and thinner */
    --bulma-hr-background-color: hsl(221, 14%, 25%);
    --bulma-hr-height: 1px;
}

/* Draw a quiet border around block code */
pre > code {
    border: 2px dotted grey;
    border-radius: 0;
}

/* Remove padding around pre tag (used e.g. to contain for code)
   when in the content class. Mostly just to give more space to the code.
*/
.content {
    --bulma-content-pre-padding: 0rem 0rem;
}

/* Lighten the weight of the font used in headings coming from markdown
   (which will be in a div with the .content class)
*/
.content h1,
.content h2,
.content h3 {
    font-weight: normal;
}

/* Style definition lists coming from markdown
   (which will be in a div with the .content class)
*/
.content dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
}
.content dd {
    margin: 0 0 0 180px;
    padding: 0 0 0.5em 0;
}

/* Use SVG to create a background watermark indicating a page is considered DRAFT */
.draft-watermark {
    background-image: url("draft-watermark.svg");
}

/* Mixin to use small-caps, e.g. for menu headings */
.smallcaps {
    font-variant: small-caps;
}
